body {
    margin: 0px;
    background-color: lightblue;
}


h1 {
    margin-top: 0px;
}


.topdiv {
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.middlediv {
    height: 200px;
    width:200px;
    background-color: green;
   
}

.bottomdiv {
    height: 200px;
    width:200px;
    background-color: blue;
}

.Animousity {
    text-decoration: underline;
}